{% extends "base.html" %}


{% block panel %}
<div class="panel">

    <div class="header">
        <ul class="breadcrumb">
            <li><a href="/">主页</a><span class="divider">/</span></li>
            <li class="active">收到的私信</li>
        </ul>
    </div>

    <div class="inner">

        {% for r in received %}
        <div class="cell reply_area reply_item">
            <a href="{{ url_for('user.profile', id=r.sender().id) }}">
                <img width="54" height="54"
                     alt="{{ r.sender().username }}"
                     class="email-avatar"
                     title="{{ r.sender().username }}"
                     src="{{ r.sender().image }}">
            </a>
            <div class="pure-u-3-4">
                <div class="user_info">
                    <a class="dark reply_author" href="{{ url_for('user.profile', id=r.sender().id) }}">{{ r.sender().username }}</a>
                    <span class="reply_by_author">发件人</span>
                </div>
                <div class="mail-title">
                    <div class="markdown-text">
                        <a href="{{ url_for('mail.view', id=r.id) }}"> {{ r.title }}</a>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}

    </div>

</div>
<div class="panel">
    <div class="header">
        <span class="col_fade">发出的私信</span>
    </div>

    <div class="inner">
        {% for s in sent %}
        <a href="{{ url_for('mail.view', id=s.id) }}"></a>
        <div class="cell reply_area reply_item">
            <a href="{{ url_for('user.profile', id=s.receiver().id) }}">
                <img width="54" height="54"
                     alt="{{ s.receiver().username }}"
                     class="email-avatar"
                     title="{{ s.receiver().username }}"
                     src="{{ s.receiver().image }}">
            </a>
            <div class="pure-u-3-4">
                <div class="user_info">
                    <a class="dark reply_author" href="{{ url_for('user.profile', id=s.receiver().id) }}">{{ s.receiver().username }}</a>
                    <span class="reply_by_author">收件人</span>
                </div>
                <div class="mail-title">
                    <div class="markdown-text">
                        <a href="{{ url_for('mail.view', id=s.id) }}">  {{ s.title }}</a>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}

    </div>

</div>
{% endblock %}